<div class="card mt-5 container shadow-lg">
    <div class="card-header bg-white">
        Angular Data-Tables
    </div>
    <div class="card-body">
<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Balance</th>
        <th>Active</th>
        <th>First name</th>
        <th>Last name</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of persons">
        <td>{{p.age}}</td>
        <td>{{p.company}}</td>
        <td class="text-info">{{p.balance | currency}}</td>
        <td>
            <div class="">
                    <span *ngIf="p.isActive === true" class="label label-success">Yes</span>
                    <span *ngIf="p.isActive === false" class="label label-danger">No</span>
            </div>
        </td>
        <td>{{p.first}}</td>
        <td>{{p.last}}</td>
      </tr>
    </tbody>
    </table>
</div>
</div>