<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <img src="assets/logo.png" class="brand" alt="" srcset="">
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav m-l mr-auto mt-2 mt-lg-0">
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" (click) = "closeMenu()" [routerLink]="['/aboutMe/home']">Home</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" (click) = "closeMenu()" [routerLink]="['/aboutMe/interests']">Interests</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" (click) = "closeMenu()" [routerLink]="['/aboutMe/jobs']">Jobs</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
            <a class="nav-link" (click) = "closeMenu()" [routerLink]="['/aboutMe/duties']">Duties</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['active']">
            <a class="nav-link" (click) = "closeMenu()" [routerLink]="['/aboutMe/other']">Contact</a>
          </li>
        <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown button
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item">Action</a>
              <a class="dropdown-item">Another action</a>
              <a class="dropdown-item">Something else here</a>
            </div>
          </li> -->
      </ul>
      <div class="form-inline my-2 my-lg-0">
        <!-- <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"> -->
        <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
        <!-- <ul> -->
            <i class="material-icons text-white">
                power_settings_new
                </i> &nbsp;<a href="">Logout</a>
        <!-- </ul> -->
      </div>
    </div>
  </nav>