<header>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner" role="listbox">
            <!-- Slide One - Set the background image for this slide in the line below -->
            <div class="carousel-item active" style="background-image: url('assets/background/web.jpg')">
                <div class="carousel-caption d-none d-md-block">
                  <h3 class="display-4">Expertise in Angular <br> Single Page Applications </h3>
                  <p class="lead">#crossBrowserCompatability</p>
                </div>
              </div>
              <div class="carousel-item" style="background-image: url('assets/background/responsive.jpg')">
                <div class="carousel-caption d-none d-md-block">
                  <h3 class="display-4">Web Responsive Design</h3>
                  <p class="lead">Implementing pages web responsive</p>
                </div>
              </div>
            <div class="carousel-item" style="background-image: url('assets/background/device.jpg')">
              <div class="carousel-caption d-none d-md-block">
                <h3 class="display-4">Implementing Sketches from UX</h3>
                <p class="lead"></p>
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
        </div>
      </header>
      
      <!-- Page Content -->
      <section class="py-5">
        <div class="container">
          <h1 class="font-weight-light">Available for HIRE</h1>
          <p class="lead"> This is just a simple <a href="https://angular.io" target="_blank"> Angular v8.2.6 </a> application. Thanks for your time.</p>
        </div>
      </section>