<div class="header">
        <div class="bg-color">
          <div class="wrapper">
            <div class="container">
              <div class="row">
                <div class="col-md-12 wow fadeIn delay-05s">
                  <div class="banner-text">
                        <h1 class="font-weight-light">Manoj Maduri</h1>
                    <p class="font-weight-light">An User Interface Developer</p>
                  </div>
                  <!-- <div class="overlay-detail text-center">
                    <a href="#about"><i class="fa fa-angle-down"></i></a>
                  </div> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>