
  .header {
    background-size: cover;
    min-height: 630px;
    position: relative;
  }

  @media (max-width: 768px) {
      .navbar-collapse {
          background: rgba(50, 60, 70, 0.9);
      }
  }
  
  .bg-color {
    // background-color: RGBA(0, 0, 0, 0.67);
    min-height: 650px;
  }
  
  .banner-text {
    border-left: 5px solid #BE2525;
    padding: 15px 40px;
    color: rgb(12, 12, 12);
    margin-top: 170px;
  }
  
  .banner-text h2, .banner-text p {
    font-size: 40px;
    font-weight: 400;
  }
  
  .banner-text h2 span {
    font-family: 'Satisfy', cursive;
  }
  
  .overlay-detail {
    margin: 0 auto;
  }
  
  .overlay-detail a i {
    text-align: center;
    position: absolute;
    bottom: -140px;
    font-size: 24px;
    color: #fff;
    width: 40px;
    height: 40px;
    border: 1px solid #fff;
    line-height: 40px;
    border-radius: 50%;
  }
  
  .deco {
    font-family: 'Satisfy', cursive;
  }
  
  #about {
    // background: url('../img/about-banner.jpg') no-repeat;
    background-size: cover;
    margin-bottom: -3px;
  }
  

 
  
  @media (min-width: 551px) and (max-width: 980px) {
    .title-text {
      margin-bottom: 15px;
    }
  }
  
  @media (min-width: 100px) and (max-width: 550px) {
    .navbar-nav>li>a {
      padding-top: 15px;
      padding-bottom: 15px;
    }
    .navbar-brand {
      margin-top: 0px;
    }
    .carousel-info {
      margin-bottom: 30px;
    }
    .type--fine-print {
      text-align: center;
    }
    .text-center-xs {
      text-align: center !important;
    }
    .social-list {
      margin-bottom: 15px;
    }
    .banner-text h2, .banner-text p {
      font-size: 30px;
    }
    .title-text {
      margin-bottom: 15px;
    }
  }
  