<div class="container">
        <ul class="timeline" *ngFor="let j of jobs">
            <li [ngClass]="j.ti">
              <div class="timeline-badge"><i class="material-icons" [ngClass]="j.class">{{j.icon}}</i></div>
              <div class="timeline-panel" (click)="open(content);edit(j)">
                <div class="timeline-heading">
                  <h4 class="timeline-title">{{j.client}}</h4>
                  <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>{{j.year}}</small></p>
                  <p>{{j.position}}</p>
                </div>
                <div class="timeline-body">
                  <p>{{j.duties}}</p>
                </div>
              </div>
            </li>
            <!-- <li class="timeline-inverted">
              <div class="timeline-badge"><i class="material-icons text-warning">timer</i></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="timeline-title">WEX Inc.</h4>
                  <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>June, 2016 - Oct, 2017</small></p>
                </div>
                <div class="timeline-body">
                  <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
                  <p>Suco de cevadiss, é um leite divinis, qui tem lupuliz, matis, aguis e fermentis. Interagi no mé, cursus quis, vehicula ac nisi. Aenean vel dui dui. Nullam leo erat, aliquet quis tempus a, posuere ut mi. Ut scelerisque neque et turpis posuere pulvinar pellentesque nibh ullamcorper. Pharetra in mattis molestie, volutpat elementum justo. Aenean ut ante turpis. Pellentesque laoreet mé vel lectus scelerisque interdum cursus velit auctor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ac mauris lectus, non scelerisque augue. Aenean justo massa.</p>
                </div>
              </div>
            </li> -->
            <!-- <li>
              <div class="timeline-badge"><i class="material-icons text-success">timer</i></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="timeline-title">E & J Gallo Winery</h4>
                  <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>March, 2016 - May, 2016</small></p>
                </div>
                <div class="timeline-body">
                  <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-badge"><i class="material-icons text-info">timer</i></div>

              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="timeline-title">CNO Financial Group</h4>
                  <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>December, 2015 - Feb, 2016</small></p>
                </div>
                <div class="timeline-body">
                  <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
                </div>
              </div>
            </li>
            <li>
              <div class="timeline-badge"><i class="material-icons text-primary">timer</i></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="timeline-title">CSAA Insurance Group</h4>
                  <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>Feb, 2015 - Nov, 2015</small></p>
                </div>
                <div class="timeline-body">
                  <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
                    <div class="timeline-badge"><i class="material-icons text-warning">timer</i></div>
                    <div class="timeline-panel">
                      <div class="timeline-heading">
                        <h4 class="timeline-title">Satyam</h4>
                        <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>July, 2012 - June, 2013</small></p>
                      </div>
                      <div class="timeline-body">
                        <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
                      </div>
                    </div>
                  </li> -->
        </ul>
    </div>

    <ng-template #content let-modal>
            <div class="modal-header">
              <h4 class="modal-title" id="modal-basic-title">{{client}} <small class="text-muted pl-4">{{year}}</small></h4>
              <button type="button" class="close"  (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body" style="line-height: 3;">
              <!-- <form> -->
                <div class="form-group">
                  <h5 for="dateOfBirth"><u>Responsibilities</u></h5>
                  <div class="input-group">
                     <small>- As a Certified Agile developer, my line of work involves coding, troubleshooting, customizing web apps in time as per the client requirement and business value to it. </small>
                     <small> -   Expertise in debugging and problem solving in dev environment.</small>
                        <small>- Experienced in working with MVC Architecture and also in using version control (SVN) and GIT/Bitbucket. </small>
                            <small>-  Working with Agile teams, iterative software development methodology best practices. </small>
                                <small>-  Understanding fundamental design principles behind a scalable application. </small>
                                    <small> - Expertise in multiple delivery platforms, such as mobile vs. desktop, and optimizing output to match the specific platform.</small>
                                        <small> -  Knowledge on Node JS and frameworks available for it such as Express, Strong Loop, etc. </small>
                                            <small>-   Worked on modern browsers like Mozilla Firefox, Google Chrome, Safari and Edge. </small>
                                                <small>-   Strong HTML5/CSS3 skills with solid knowledge of usability, accessibility and cross browser issues. </small>
                                                    <small> -  Developed many web applications with Single Page Architecture. </small>
                                                        <small>-   Excellent skills in relationship management with clients and effective in guiding team during the project development life cycle and deliver the product within time, cost and quality. </small>
                                                            <small> -  Strong communication, planning and problem-solving skills, with ability to work independently or with cross-functional teams. </small>
                      
                  </div>
                </div>
              <!-- </form> -->
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Close</button>
            </div>
          </ng-template>
          
          <!-- <button class="btn btn-lg btn-outline-primary" >Launch demo modal</button> -->
          
        
          