<div class="card mt-5 container shadow-lg">
<div class="card-body">
        <div class="row">
            <div class="col-md-3 hidden-xs">
                <div class="contact-info">
                    <!-- <img src="https://image.ibb.co/kUASdV/contact-image.png" alt="image"/> -->
                    <h2>Contact me</h2>
                    <h4>I'd love to hear from you !</h4>
                </div>
            </div>
            <div class="col-md-9">
                <div class="contact-form">
                        <form id="fs-frm" name="simple-contact-form" accept-charset="utf-8" action="https://formspree.io/manoj.maduri1@gmail.com" method="post">
                            <input type="hidden" name="_next" value="https://ng-model.github.io/ng-8/aboutMe/home" />
                            <div class="form-group">
                      <label class="control-label col-sm-4" for="fname">First Name:</label>
                      <div class="col-sm-12">          
                        <input type="text" class="form-control" id="fname" placeholder="Enter First Name" name="fname" required>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-sm-4" for="lname">Last Name:</label>
                      <div class="col-sm-12">          
                        <input type="text" class="form-control" id="lname" placeholder="Enter Last Name" name="lname" required>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-sm-2" for="email">Email:</label>
                      <div class="col-sm-12">
                        <input type="email" class="form-control" id="email" placeholder="Enter email" name="email" required>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-sm-4" for="message">Comment:</label>
                      <div class="col-sm-12">
                        <textarea class="form-control" rows="5" id="message" required></textarea>
                      </div>
                    </div>
                    <input type="hidden" name="_subject" id="email-subject" value="Contact Form Submission">
                    <div class="form-group text-center">        
                      <div class="col-sm-offset-2 col-sm-12">
                        <button type="submit" value="Submit" class="btn btn-primary">Submit</button>
                      </div>
                    </div>
                        </form>
                </div>
            </div>
        </div></div>
    </div>
    